*.mp4
*.mov
*.idlk

/BookExampleCode
/AutomatedTraining/NegativeImageFiles
/AutomatedTraining/MacMini
/EarlyTrainingTests
/ComputerVisionDigitizer/NegativeImageFiles
/DownloadedImages

/ComputerVisionDigitizer/0001-MacBookPro15inWithRetinaDisplay